# String Formatting

The fastest and latest way to do string formatting is using the F-strings.

In [1]:
  PI = 3.14159265359 
  print(f'{PI:.2f}')

3.14

But you have to know the other ways so you can read older code or use these ways if you have to use an older version of Python

## Oldest Method

In [2]:
  PI = 3.14159265359 
  name = 'PI'
  print('%s is %.2f' % (name, PI))  # oldest way format specifier is <width>.<precision><type>

PI is 3.14

## Newer Method
Still used for creating string templates.

In [3]:
PI = 3.14159265359 
name = 'PI'
#{<index>:<format-specifier>} where the format specifier is <width>.<precision><type>
print(('{0} is {1:.2f}'.format('PI', PI)) ) #

PI is 3.14

## Newest Method
Newest and fastest method for string formatting.

In [4]:
PI = 3.14159265359 
name = 'PI'
# {<name_of_variable>:<format-specifier>} where the format specifier is <width>.<precision><type>
print(f'{name} is {PI:.2f}') # newest way

PI is 3.14

Reference: https://pyformat.info/

In [5]:
a_str = 'EAS503'
an_int = 113
a_float = 92.3
print(a_str, an_int, a_float)

EAS503 113 92.3

In [6]:
line1 = 'This is the first line.\n'
line2 = 'This is the second line.'
lines = line1 + line2

In [7]:
line = 'This is the first line.\n'
line += 'This is the second line.'

## Example 1

In [8]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = '{}'.format(course_number)
f_string = f'{course_number}'

print(str_format)
print(f_string)

EAS503
EAS503

## Example 2

In [9]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = 'The course number is {}.'.format(course_number)
f_string = f'The course number is {course_number}.'

print(str_format)
print(f_string)

The course number is EAS503.
The course number is EAS503.

## Example 3 use index

In [10]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {}. It has {} students.'.format(course_number, class_size)
str_format = 'The course number is {0}. It has {1} students.'.format(course_number, class_size)
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

## Example 4 change index

In [11]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {1}. It has {0} students.'.format(course_number, class_size)
f_string = f'The course number is {class_size}. It has {course_number} students.'

print(str_format)
print(f_string)

The course number is 113. It has EAS503 students.
The course number is 113. It has EAS503 students.

## Example 5 adding a float

In [12]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0}. It has {1} students. The class average is {2}'.format(course_number, class_size, class_average)
f_string = f'The course number is {class_size}. It has {course_number} students. The class average is {class_average}.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students. The class average is 92.3
The course number is 113. It has EAS503 students. The class average is 92.3.

## Example 6 specify number of spaces to use -- width

In [13]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:10}. It has {1:10} students. The class average is {2:10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:10}. It has {class_size:10} students. The class average is {class_average:10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has        113 students. The class average is       92.3
The course number is EAS503    . It has        113 students. The class average is       92.3.

## Example 7 right align

In [14]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:>10}. It has {1:>10} students. The class average is {2:>10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {class_size:>10}. It has {class_size:>10} students. The class average is {class_average:>10}.'

print(str_format)
print(f_string)

The course number is     EAS503. It has        113 students. The class average is       92.3
The course number is        113. It has        113 students. The class average is       92.3.

## Example 8 left align

In [15]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:<10}. It has {1:<10} students. The class average is {2:<10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:<10}. It has {class_size:<10} students. The class average is {class_average:<10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has 113        students. The class average is 92.3
The course number is EAS503    . It has 113        students. The class average is 92.3      .

## Example 9 center align

In [16]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:^10}. It has {1:^10} students. The class average is {2:^10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:^10}. It has {class_size:^10} students. The class average is {class_average:^10}.'

print(str_format)
print(f_string)

The course number is   EAS503  . It has    113     students. The class average is    92.3
The course number is   EAS503  . It has    113     students. The class average is    92.3   .

## Example 10 Padding with zeros

In [17]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:08}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:08}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 00223333
The number padded 223333 padded with zeros 00223333

## Example 11 Padding with dashes

In [18]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:->8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:->8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros --223333
The number padded 223333 padded with zeros --223333