# Sets

- Formal mathematical sets
- **Do not have duplicate values**
- Are not ordered
- Cannot access via index. 
- Useful for doing set operations
- Can have different data types

In [1]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

## Check if a value belongs

In [2]:
2 in A

True

## Union -- all values

In [3]:
A | B

{0, 1, 2, 3, 4, 5, 6, 8}

## Intersection -- shared values

In [4]:
A & B

{2, 4}

## Difference -- order matters
```python
A - B
B - A
```

## Check Subset

In [5]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B < A

True

In [6]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B <= A

True

In [7]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B > A

False

## Adding a single element

In [8]:
A = {1, 2, 3, 4, 5}
A.add(6)
print(A)

{1, 2, 3, 4, 5, 6}

In [9]:
A = {1, 2, 3, 4, 5}
A.add(1)
print(A)

{1, 2, 3, 4, 5}

## Removing an element
- Three ways

### Discard 
- Will **NOT** raise an error if the element being remove is not in set.

In [10]:
A = {1, 2, 3, 4, 5}
A.discard(1)
print(A)
A.discard('P')

{2, 3, 4, 5}

### Remove 
- Will raise an error if the element being remove is not in set.

In [11]:
A = {1, 2, 3, 4, 5}
A.remove(1)
print(A)
A.remove('P')

{2, 3, 4, 5}

KeyError: 'P'

### Pop 
- Will remove an element

In [12]:
A = {1, 2, 3, 4, 5}
A.pop()

1

## Checking if multiple dictionary keys exist

In [13]:
d1 = dict(a=1, b=2, c=3, d=4)
d2 = dict(b=20, d=40, e=50)
d1.keys() & d2.keys() # this works because dict.keys() returns "set-like" view rather than a list
{'b', 'd'}

{'b', 'd'}

In [14]:
d1 = dict(a=1, b=2, c=3, d=4)
d2 = dict(b=20, d=40, e=50)
d1.keys() <= {'a', 'b', 'c', 'd'}

True

## Symmetric difference  
https://en.wikipedia.org/wiki/Symmetric_difference

In [15]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
A ^ B

{1, 2, 5}