# String Comparisons

- When strings are compared, they are compared lexicographic, meaning strings are put into alphabetical order and uppercase comes before lowercase and numbers come before the alphabets. 
- ASCII Table: https://www.rapidtables.com/code/text/ascii-table.html

```{warning}
**Memorize the following:**
  - 0-9 -- 48-57
  - A-Z -- 65-90
  - a-z -- 97-122
```

In [1]:
'A' < 'a'

True

In [2]:
'A' > 'Z'

False

In [3]:
'abc' < 'abd'

True

In [4]:
'abc' < 'abcd' # shorter is less

True

In [5]:
'1' < '2'

True

In [6]:
'1' < '20'

True

```{warning}
Numbers in strings are not naturally sorted!
`'2' < '11'` is `False`
```
- Convert a single character to its unicode number: `ord()`

In [7]:
print(ord('0'))
print(ord('9'))
print(ord('A'))
print(ord('Z'))
print(ord('a'))
print(ord('b'))

48
57
65
90
97
98

- Convert a unicode number to its unicode character: `chr()`

In [8]:
print(chr(48))
print(chr(57))
print(chr(65))
print(chr(90))
print(chr(97))
print(chr(122))

0
9
A
Z
a
z

## `in` Operator
- Python provides a way to check if one string appears inside another one using the `in` operator.

In [9]:
'Jan' in '01 Jan 1838'

True

In [10]:
'Feb' in '01 Jan 1838'

False

In [11]:
'a' in 'abc'

True

In [12]:
'A' in 'abc'

False

## Sorting by Hand
- Sort the following strings by hand: `['AABC', 'ABC', 'ABCD', '1', '2', '11', 'a', 'abc', 'b', 'abcd']`

In [13]:
result = ['1', '11', '2', 'AABC', 'ABC', 'ABCD', 'a', 'abc', 'abcd', 'b']

- Sort the following strings by hand: `['Male21', 'Female25', 'Male30', 'Male2', 'Female24', 'Male11']`

In [14]:
result = ['Female24', 'Female25', 'Male11', 'Male2', 'Male21', 'Male30']