# Methods for Selecting Data

## Method 1 -- Square brackets

### Method 1.1 -- index/text -- #column wise

In [1]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df['StudentName'])

0     student1
1     student2
2     student3
3     student4
4     student5
5     student6
6     student7
7     student8
8     student9
9    student10
Name: StudentName, dtype: object

### Method 1.2 -- list, NOT TUPLE # row wise

In [2]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df[['StudentName', 'E1']])

  StudentName   E1
0    student1   92
1    student2   74
2    student3   83
3    student4  100
4    student5   77
5    student6  100
6    student7   66
7    student8   97
8    student9   95
9   student10   78

### Method 1.3 -- a slice  # row wise

In [3]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df[1:5])

  StudentName   E1  E2  E3  E4  E5
1    student2   74  93  88  67  85
2    student3   83  96  74  79  92
3    student4  100  72  83  85  66
4    student5   77  96  66  79  92

### Method 1.4?? -- slice and list?

In [4]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df[1:5, ['E1', 'E2']])

InvalidIndexError: (slice(1, 5, None), ['E1', 'E2'])

### Method 1.5?? -- slice and slice?

In [5]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df[1:5, 1:5])

InvalidIndexError: (slice(1, 5, None), slice(1, 5, None))

## Method 2 -- .iloc
- It uses square braces [] and not () 
- It uses numerical index

### Method 2.1 -- index only!!! Cannot index by location index with a non-integer key

In [6]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df.iloc[0])

StudentName    student1
E1                   92
E2                   77
E3                   87
E4                   77
E5                   94
Name: 0, dtype: object

### Method 2.2 -- list

In [7]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df.iloc[[0, 1, 2]])

  StudentName  E1  E2  E3  E4  E5
0    student1  92  77  87  77  94
1    student2  74  93  88  67  85
2    student3  83  96  74  79  92

### Method 2.3 -- list and slice

In [8]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df.iloc[[0, 1, 2], :])

  StudentName  E1  E2  E3  E4  E5
0    student1  92  77  87  77  94
1    student2  74  93  88  67  85
2    student3  83  96  74  79  92

### Method 2.4 -- list and list

In [9]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df.iloc[[0, 1, 2], [0, 1]])

  StudentName  E1
0    student1  92
1    student2  74
2    student3  83

### Method 2.5 -- slice

In [10]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df.iloc[0:3])

  StudentName  E1  E2  E3  E4  E5
0    student1  92  77  87  77  94
1    student2  74  93  88  67  85
2    student3  83  96  74  79  92

### Method 2.6 -- slice and list

In [11]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df.iloc[:, [1, 2]])

    E1  E2
0   92  77
1   74  93
2   83  96
3  100  72
4   77  96
5  100  86
6   66  91
7   97  86
8   95  98
9   78  76

### Method 2.7 -- sliceS

In [12]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df.iloc[0:3, 1:3])

   E1  E2
0  92  77
1  74  93
2  83  96

## Method 3 -- .loc 
- If you didnot specify the index, then numbers are used!

### Method 3.1 -- index # row-wise

In [13]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
display(df.loc[3])

StudentName    student4
E1                  100
E2                   72
E3                   83
E4                   85
E5                   66
Name: 3, dtype: object

### Method 3.2 -- txt # row-wise

In [14]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
df.set_index(df['StudentName'], inplace=True) 
display(df.loc['student4'])

StudentName    student4
E1                  100
E2                   72
E3                   83
E4                   85
E5                   66
Name: student4, dtype: object

### Method 3.3 -- list

In [15]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
df.set_index(df['StudentName'], inplace=True) 
display(df.loc[['student4', 'student1']])

            StudentName   E1  E2  E3  E4  E5
StudentName
student4       student4  100  72  83  85  66
student1       student1   92  77  87  77  94

### Method 3.4 -- listS

In [16]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
df.set_index(df['StudentName'], inplace=True) 
display(df.loc[['student4', 'student1'], ['E1', 'E2']])

              E1  E2
StudentName
student4     100  72
student1      92  77

### Method 3.5 -- slice and list

In [17]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
df.set_index(df['StudentName'], inplace=True) 
display(df.loc[:, ['E1', 'E2']])

              E1  E2
StudentName
student1      92  77
student2      74  93
student3      83  96
student4     100  72
student5      77  96
student6     100  86
student7      66  91
student8      97  86
student9      95  98
student10     78  76

### Method 3.6 -- list and Slice

In [18]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
df.set_index(df['StudentName'], inplace=True) 
display(df.loc[['student1', 'student2'], :])

            StudentName  E1  E2  E3  E4  E5
StudentName
student1       student1  92  77  87  77  94
student2       student2  74  93  88  67  85

### Method 3.7 -- slice and Slice

In [19]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
df.set_index(df['StudentName'], inplace=True) 
display(df.loc['student1':'student5', :])

            StudentName   E1  E2  E3  E4  E5
StudentName
student1       student1   92  77  87  77  94
student2       student2   74  93  88  67  85
student3       student3   83  96  74  79  92
student4       student4  100  72  83  85  66
student5       student5   77  96  66  79  92

### Method 3.8 -- slice

In [20]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.DataFrame(data=[ele.strip().split(',') for ele in open('testdata_1.txt')], columns=columns)
df.set_index(df['StudentName'], inplace=True) 
display(df.loc['student1':'student5'])

            StudentName   E1  E2  E3  E4  E5
StudentName
student1       student1   92  77  87  77  94
student2       student2   74  93  88  67  85
student3       student3   83  96  74  79  92
student4       student4  100  72  83  85  66
student5       student5   77  96  66  79  92