# Numeric and None Data Types

Python support many different data types. We will introduce them as we use them. It is important to know the data types because every value in Python has a particular data type and the data types of values determine how they behave when they are combined. 

To determine the data type of a value, you can use the `type()` function. 

## Numeric Data Types
Values such as `4` and `-7` have data type `int` (short for `integer`). Values such as `2.5` and `-17.0` have data type float (short for `floating point`). The value `7j` is an example of a `complex` data type. 

- `int` store whole number, positive or negative, unlimited
- `float` store number with decimals, positive or negative

With respect to numeric data types, you should know some rules:
- An expression involving two `int` operands produces an `int`:
-

In [1]:
1 + 2

3

In [2]:
type(1 + 2)

int

- An expression involving two `float` operands produces a `float`:

In [3]:
1.0 + 2.0

3.0

In [4]:
type(1.0 + 2.0)

float

- When an expression's operands are an `int` and a `float`, meaning mixed data type, Python automatically converts the `int` to a `float`. That is why the following two expressions return the same data type.

In [5]:
17.0 - 10

7.0

In [6]:
type(17.0 - 10)

float

In [7]:
17 - 10.0

7.0

In [8]:
type(17 - 10.0)

float

You can leave out `0` after the decimal, e.g., `10.`, but this is considered bad style.

In [9]:
10.

10.0

## None Data Type
- The numeric data types are: `int`, `float`, and `complex`.